    <!-- Start contact section -->
    <section id="contact" class="contact-section section-gap">
        <div class="container">
            <div class="row justify-content-center section-title-wrap">
                <div class="col-lg-12">
                    <!-- <div class="title-img">
                        <img src="{{ site.contact_image | relative_url }}" alt="">
                    </div> -->
                    <h1>{{ site.contact_title }}</h1>
                    <p>
                       {{ site.contact_description }}
                    </p>
                </div>
            </div>
            <div class="row justify-content-between align-items-start">
                <div class="col-lg-12">
                    <form accept-charset="UTF-8" action="https://getform.io/f/66f72c83-3def-40f2-b2c9-04e452703297" method="POST" enctype="multipart/form-data" target="_blank" class="form-area contact-form" id="myForm">
                        <label for="">Your Name</label>
                        <input name="name" autocomplete="name" placeholder="Enter your name" onfocus="this.placeholder = ''"
                            onblur="this.placeholder = 'Enter your name'" class="common-input mb-20 form-control"
                            required="" type="text">

                        <label for="">Email Address</label>
                        <input name="email" autocomplete="email" placeholder="Enter email address" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$"
                            onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'" class="common-input mb-20 form-control"
                            required="" type="email">

                        <label for="">Message</label>
                        <textarea class="common-textarea form-control" cols="30" rows="7" name="message" autocomplete="message"
                            placeholder="Enter Messege" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Messege'"
                            required=""></textarea>

                        <div class="">
                            <button type="submit" class="genric-btn mt-30">Send Message</button>
                            <div class="alert-msg"></div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-12">
                    <form accept-charset="UTF-8" action="https://getform.io/f/66f72c83-3def-40f2-b2c9-04e452703297" method="POST" enctype="multipart/form-data" target="_blank" class="form-area contact-form" id="myForm">
                        
                        <label for="">Your Name</label>
                        <input type="text" name="name" placeholder="Enter your name" class="common-input mb-20 form-control" 
                            autocomplete="name" onfocus="this.placeholder=''" onblur="this.placeholder='Enter your name'" required="" >
                        
                        <label for="">Email Address</label>
                        <input type="text" name="email" placeholder="Enter email address" class="common-input mb-20 form-control" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$"
                            autocomplete="email" onfocus="this.placeholder=''" onblur="this.placeholder='Enter email address'" required="">
                        
                        <label for="">Message</label>
                        <input type="textarea" name="message" placeholder="Enter messege" class="common-textarea form-control" cols="30" rows="7" 
                            autocomplete="message" onfocus="this.placeholder=''" onblur="this.placeholder='Enter message'" required="">

                        

                        <div class="">
                            <button type="submit" class="genric-btn mt-30">Send Message</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- End contact section -->